basic_voice
{
    char_len 40
    char_dur 80
    freq_mod 0.0125
    freq 1.125
    amp_a 300
    amp_s 0.15
    amp_d 1
    amp_r 1000
    amp_smooth 1
    freq_smooth 1
    pulse_width 0.5
    shape pulse
}

high_voice
{
    char_len 35
    char_dur 70
    freq_mod 0.0125
    freq 1.525
    amp_a 300
    amp_s 0.15
    amp_d 1
    amp_r 3000
    amp_smooth 1
    freq_smooth 1
    pulse_width 0.5
    shape pulse
}

grumpy_voice
{
    char_len 150
    char_dur 10
    freq_mod 0.0125
    freq 0.825
    amp_a 3000
    amp_s 0.10
    amp_d 1
    amp_r 5000
    amp_smooth 1
    freq_smooth 1
    pulse_width 0.5
    shape saw
}

sneak_voice
{
    char_len 150
    char_dur 10
    freq_mod 0.0125
    freq 1.325
    amp_a 3000
    amp_s 0.10
    amp_d 1
    amp_r 5000
    amp_smooth 1
    freq_smooth 1
    pulse_width 0.5
    shape sin
}
